<div class="container">
    @for (item of store.tiles(); track $index) {
        <app-tile
            [item]="item"
            (selected)="select($event)"
            (delete)="deleteTile($event)"
        ></app-tile>
    }
    <p-fileUpload
        #fileBtn
        mode="basic" 
        chooseLabel="Adicionar" 
        name="add" 
        accept="image/*" 
        (uploadHandler)="onUpload($event , fileBtn)"
        [customUpload]="true"
        [auto]="true"
        >
    </p-fileUpload>
</div>